@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.datetime-picker input {
    min-width: auto !important;
    height: auto !important;
    padding: 0 !important;
    border: none !important;
}

.datetime-picker input:focus, .datetime-picker input:active {
    outline: none !important;
}
